body {margin: 0; padding: 0; width: 100%; height: 1200px; text-align: center;}

h1
{
    text-align: center;
}

#logo {position: relative; text-align: center; width: 828px; height: 150px;}

#searchbar {position: relative; align-items:center; text-align: center;}

input[type='submit'], button, [area-label]{
    cursor: pointer;
}


/*가이드*/
#G_logo {position: relative; text-align: center; width: 1028px; height: 150px;}